.ct-series-a {
  fill: rgb(68, 116, 247) !important;
}

.ct-series-b {
  fill: rgb(174, 189, 255) !important;
}

.ct-series-c {
  fill: rgb(132, 196, 212) !important;
}

.ct-series-d {
  fill: rgb(255, 255, 255) !important;
}